@font-face {
  font-family: "font";
  src: url(./assets/fonts/static/HankenGrotesk-Medium.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: "font";
}
#results-card {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}
p {
  max-width: 200px;
}
#score {
  width: 50%;
  text-align: center;
  color: white;
  background-color: hsl(252, 100%, 67%);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 15px;
}
.score-circle {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(241, 81%, 54%);
  margin: auto;
  border-radius: 50%;
}
ul {
  list-style: none;
}
li {
  display: flex;
  justify-content: space-between;
}
li div {
  display: flex;
  gap: 1px;
}
